<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

    <head>
        <meta charset="UTF-8">
        <title>404 에러 페이지</title>
    </head>

    <th:block layout:fragment="content_body">
        <span th:text="#{common.exception.notfound}"></span>
        <p th:text="${userMessage}"></p>
        <p th:text="${systemMessage}"></p>
    </th:block>

</html>